<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GlobalHotKey" version="1.1.0" targetFramework="net45" />
  <package id="NAudio" version="1.6" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40-Client" />
  <package id="ScreenReaderAPIWrapper" version="3.0.1" targetFramework="net40-Client" />
</packages>